.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid #f9f9f9;
}

.header__logo {
    object-fit: contain;
    height: 30px;
}

.header__icon {
    padding: 20px;
}

.title {
    font-size: 40px;
    background: -webkit-linear-gradient(#C33764, #1D2671);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}